# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: UsePythonVersion@0
      displayName: "Use Python 3.6"
      inputs:
        versionSpec: '3.6'
        architecture: 'x64'
    - task: InstallSSHKey@0
      displayName: "Install an SSH key"
      inputs:
        knownHostsEntry: github.com
        sshPublicKey: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDlXlpDF/jsSdbgc3ajVy9s5TbiY4QD92oLuwTQOe+K4Ug9C4jNkwgAn6RKNPusAZAlPFXrmGV2Yf6fgvaMJ/Fp/scOZ6XEiGrJnFX7NCRxDP2jH/5nlVWZco0LhujcFalwDAalYiBq9jYcjlfvutzWZup5pJKPN8ytAEkAvgLHFlg0DnN/WUPs9OEiukZ/WC/gDP//l9gh0bInT74YqRciZAw26jdNbouRAH3GqRG0j5gnNRfSLzO/YEVD3uUzBOaCyofsFC83bN2RwTwvmxq0z2uZpb6iakmP+lm9tlevU9xTwZsRUMisBW/JCb+YWQYPED0N49reFzW3dbs7VlAy0F1js+yexbTOZ7mDmFA4LWGGMAPKOf2cmMJuZLAqxkFdOZ6NFVQjA2bBUDXnLGIZ02zTfVJcJ5J9MrMhfn2X3C+K4jCZAI/JN9QAFTAX89JQCAfWTTRUEUuIxuk77ts1q8LoCF0PExqDYHSPFa5b6DdrNAE8yyyEcD5S788NBdU= rprangar@rprangar-DESK
        sshKeySecureFile: sbl_doc_deploy

    - script: pip install sphinx==1.8.1 docutils==0.14 sphinx-rtd-theme==0.4.2 sphinxcontrib-websupport==1.1.0
      displayName: "Install Python Requirements"

    - script: make html
      displayName: "Make"

    - script: touch ./build/html/.nojekyll
      displayName: "Create nojekyll file"      

    - script: |
        git config --local user.name "Azure Pipelines"
        git config --local user.email "ravi.p.rangarajan@intel.com"
        git push -f origin HEAD:gh-pages
      displayName: "Pushing to GH-Pages branch"
        